/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overlock SC', cursive;
    text-decoration: none;
    list-style: none;
  }
  
  /* Styles généraux */
  body {
    margin: 0;
    padding: 0;
  }
  
  /* Styles pour la barre de navigation */
  nav {
    background-color: #005C96;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    color: wheat;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Styles pour le logo */
  .logo img {
    width: 70px;
    height: 70px;
  }
  
  /* Styles pour le menu burger */
  .icon {
    display: none;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* Styles pour le menu déroulant */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #005C96;
    padding: 12px 16px;
    display: block;
  }
  
  .dropdown-content a:hover{
    border-bottom: #005C96 2px solid;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 4px;
  }
  
  /* Styles pour la version responsive */
  @media screen and (max-width: 600px) {
    nav ul {
      display: none;
    }
  
    .icon {
      display: block;
    }
  
    .responsive ul {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
  
    .responsive li {
      margin: 10px 0;
    }
  
    .dropdown:hover .dropdown-content {
      display: block;
      position: static;
      box-shadow: none;
      background-color: transparent;
    }
  
    .dropdown-content a {
      padding: 10px 16px;
    }
  }
  