<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Move_Smart</title>
  <link rel="stylesheet" href="../static/css/about.css" />
  <!-- <link rel="stylesheet" href="../static/css/style.css" /> -->
  <link rel="stylesheet" href="{{url_for('static', filename='css/about.css')}}">
  <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> -->
</head>

<body>
  <header>
    <div class="header-left">
      <div class="logo">
        <p><span>Move_</span>Smart</p>
      </div>
      <nav>
        <ul>
          <li>
            <a href="{{url_for('user_router.accueilU')}}">Accueil</a>
          </li>
          <li>
            <a href="#" class="active">À propos</a>
          </li>
          <li class="dropdowns">
            <a href="#" class="dropdowns-toggle">Alerte</a>
            <ul class="dropdowns-menu">
              <li><a href="{{url_for('user_router.incidentsU')}}">Voir les alertes</a></li>
              <li><a href="{{url_for('user_router.alertU')}}">Ajouter une alerte</a></li>
            </ul>
          </li>
          <li>
            <a href="{{url_for('user_router.contactU')}}">Contactez-nous</a>
          </li>
        </ul>
        <div class="login-signup">
            <a href="{{url_for('user_router.deconnexion')}}">Déconnexion</a>
          </div>
      </nav>
    </div>
    <div class="header-right">
        <div class="login-signup">
            <a href="{{url_for('user_router.deconnexion')}}">Déconnexion</a>
          </div>
      <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </header>

  <!-- Contenu de la page -->
  <section>
    <div id="row">
      <h2 class="section-heading">À propos de nous</h2>
    </div>
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-hammer"></i>
          </div>
          <h3>Avec Nous</h3>
          <p>
            "Agissez rapidement, signalez les accidents routiers avec notre
            application web et faites la différence sur nos routes."
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-brush"></i>
          </div>
          <h3>Nous Vous Proposons</h3>
          <p>
            "Une solution moderne pour une sécurité routière maximale :
            découvrez notre application web de signalement des accidents et
            soyez un acteur du changement."
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-wrench"></i>
          </div>
          <h3>Avec Nous</h3>
          <p>
            "Simplifiez le signalement des accidents routiers avec notre
            application web et contribuez à sauver des vies !"
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-truck-pickup"></i>
          </div>
          <h3>Avec Nous</h3>
          <p>
            "Trouvez le meilleur prix en un instant avec notre application de
            comparaison de prix de transport !"
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-broom"></i>
          </div>
          <h3>Nous permettons</h3>
          <p>
            "Comparer, choisir, économiser ! Notre application de comparaison
            de prix de transport vous offre les meilleures offres en un clin
            d'œil."
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="icon-wrapper">
            <i class="fas fa-plug"></i>
          </div>
          <h3>Nous Contacter</h3>
          <p>
            Numéro : 077749212<br />
            Email : fredkesse@gmail.com<br />
            Adresse : Côte d'ivoire, Abidjan Cocody<br />
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Pieds de page -->
  <footer>
    <h3>
      Copyright © 2010-2023 <span> Move_</span>Smart. Tous les droits sont
      réservés.
    </h3>
  </footer>

  <script>
    hamburger = document.querySelector(".hamburger");
    nav = document.querySelector("nav");
    hamburger.onclick = function () {
      nav.classList.toggle("active");
    };

    // Récupérer l'élément du lien du menu déroulant
    var dropdownToggle = document.querySelector('.dropdowns-toggle');

    // Récupérer l'élément du menu déroulant
    var dropdownMenu = document.querySelector('.dropdowns-menu');

    // Cacher le menu déroulant par défaut
    dropdownMenu.style.display = 'none';

    // Ajouter un gestionnaire d'événement pour le clic sur le lien du menu déroulant
    dropdownToggle.addEventListener('click', function (event) {
      event.preventDefault(); // Empêcher le comportement par défaut du lien

      // Vérifier si le menu déroulant est déjà affiché ou non
      var isDropdownVisible = dropdownMenu.style.display === 'block';

      // Afficher ou masquer le menu déroulant en fonction de son état actuel
      if (isDropdownVisible) {
        dropdownMenu.style.display = 'none';
      } else {
        dropdownMenu.style.display = 'block';
      }
    });
  </script>
</body>

</html>