<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Move_Smart</title>
    <link rel="stylesheet" href="../static/css/about.css" />
  </head>

  <body>
    <header>
      <div class="header-left">
        <div class="logo">
          <p><span>Move_</span>Smart</p>
        </div>
        <nav>
          <ul>
            <li>
              <a href="../templates/index.html">Accueil</a>
            </li>
            <li>
              <a href="#" class="active">À propos</a>
            </li>
            <li>
              <a href="../templates/contact.html">Contactez-nous</a>
            </li>
          </ul>
          <div class="login-signup">
            <a href="">Connexion</a> ou <a href="">Inscription</a>
          </div>
        </nav>
      </div>
      <div class="header-right">
        <div class="login-signup">
          <a href="">Connexion</a> ou <a href="">Inscription</a>
        </div>
        <div class="hamburger">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </header>

    <!-- Contenu de la page -->
    <section>
      <div class="row">
        <h2 class="section-heading">À propos de nous</h2>
      </div>
      <div class="row">
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-hammer"></i>
            </div>
            <h3>Avec Nous</h3>
            <p>
              "Agissez rapidement, signalez les accidents routiers avec notre
              application web et faites la différence sur nos routes."
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-brush"></i>
            </div>
            <h3>Nous Vous Proposons</h3>
            <p>
              "Une solution moderne pour une sécurité routière maximale :
              découvrez notre application web de signalement des accidents et
              soyez un acteur du changement."
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-wrench"></i>
            </div>
            <h3>Avec Nous</h3>
            <p>
              "Simplifiez le signalement des accidents routiers avec notre
              application web et contribuez à sauver des vies !"
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-truck-pickup"></i>
            </div>
            <h3>Avec Nous</h3>
            <p>
              "Trouvez le meilleur prix en un instant avec notre application de
              comparaison de prix de transport !"
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-broom"></i>
            </div>
            <h3>Nous permettons</h3>
            <p>
              "Comparer, choisir, économiser ! Notre application de
              comparaison de prix de transport vous offre les meilleures offres
              en un clin d'œil."
            </p>
          </div>
        </div>
        <div class="column">
          <div class="card">
            <div class="icon-wrapper">
              <i class="fas fa-plug"></i>
            </div>
            <h3>Service Heading</h3>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
              consequatur necessitatibus eaque.
            </p>
          </div>
        </div>
      </div>
    </section>
    <script>
      hamburger = document.querySelector(".hamburger");
      nav = document.querySelector("nav");
      hamburger.onclick = function () {
        nav.classList.toggle("active");
      };
    </script>
  </body>
</html>
