<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap" rel="stylesheet">
    <title>Move_Smart</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img src="../static/img/protection.png" alt="Logo" />
      </div>
      <ul>
        <li><a href="#accueil">Accueil</a></li>
        <li><a href="#apropos">À propos</a></li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Services</a>
          <div class="dropdown-content">
            <a href="#incidents">Incidents</a>
            <a href="#voyages">Voyages</a>
          </div>
        </li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <button class="icon" onclick="myFunction()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </button>
    </nav>

    <section class="pattern">
        <div class="geeks">
            <h1>GEEKS FOR GEEKS</h1>
        </div>
    </section>

    <script src="../static/js/main.js"></script>
  </body>
</html>
