<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Move_Smart</title>
  <!-- <link rel="stylesheet" href="../static/css/style.css" /> -->
  <link rel="stylesheet" href="../static/css/contact.css" />
  <link rel="stylesheet" href="{{url_for('static', filename='css/contact.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

</head>

<body>
  <header>
    <div class="header-left">
      <div class="logo">
        <p><span>Move_</span>Smart</p>
      </div>
      <nav>
        <ul>
          <li>
            <a href="{{url_for('user_router.accueilU')}}">Accueil</a>
          </li>
          <li>
            <a href="{{url_for('user_router.aboutU')}}">À propos</a>
          </li>
          <li class="dropdowns">
            <a href="#" class="dropdowns-toggle">Alerte</a>
            <ul class="dropdowns-menu">
              <li><a href="{{url_for('user_router.incidentsU')}}">Voir les alertes</a></li>
              <li><a href="{{url_for('user_router.alertU')}}">Ajouter une alerte</a></li>
            </ul>
          </li>
          <li>
            <a href="#" class="active">Contactez-nous</a>
          </li>
        </ul>
        <div class="login-signup">
            <a href="{{url_for('user_router.deconnexion')}}">Déconnexion</a>
          </div>
      </nav>
    </div>
    <div class="header-right">
        <div class="login-signup">
            <a href="{{url_for('user_router.deconnexion')}}">Déconnexion</a>
          </div>
      <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </header>
  <div class="containerss">
    <div class="container">
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt"></i>
            <div class="topic">Adresse</div>
            <div class="text-one">Côte d'ivoire</div>
            <div class="text-two">Abidjan, Cocody</div>
          </div>
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Numéro de téphone</div>
            <div class="text-one">+225 077 749 221 2</div>
            <div class="text-two">+225 077 749 221 2</div>
          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
            <div class="topic">Email</div>
            <div class="text-one">exemple@gmail.com</div>
            <div class="text-two">fredkesse1234@gmail.com</div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text">Laissez-nous un message</div>
          <p>
            Si vous avez une éventuelle question, vous pouvez nous la poser ici. <br>
            Nous vous répondrons dans les plus brefs délais.
          </p>
          <form action="#">
            <div class="input-box">
              <input type="text" placeholder="Entrez votre votre nom" />
            </div>
            <div class="input-box">
              <input type="text" placeholder="Entrez votre email" />
            </div>
            <div class="input-box">
              <label for="message">Message :</label>
              <textarea id="message" name="message" required></textarea><br/><br/>
            </div>
            <div class="input-box message-box"></div>
            <div class="button">
              <input type="button" value="Envoyer" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    hamburger = document.querySelector(".hamburger");
    nav = document.querySelector("nav");
    hamburger.onclick = function () {
      nav.classList.toggle("active");
    };

     // Récupérer l'élément du lien du menu déroulant
var dropdownToggle = document.querySelector('.dropdowns-toggle');

// Récupérer l'élément du menu déroulant
var dropdownMenu = document.querySelector('.dropdowns-menu');

// Cacher le menu déroulant par défaut
dropdownMenu.style.display = 'none';

// Ajouter un gestionnaire d'événement pour le clic sur le lien du menu déroulant
dropdownToggle.addEventListener('click', function(event) {
  event.preventDefault(); // Empêcher le comportement par défaut du lien

  // Vérifier si le menu déroulant est déjà affiché ou non
  var isDropdownVisible = dropdownMenu.style.display === 'block';

  // Afficher ou masquer le menu déroulant en fonction de son état actuel
  if (isDropdownVisible) {
    dropdownMenu.style.display = 'none';
  } else {
    dropdownMenu.style.display = 'block';
  }
});
  </script>
</body>

</html>