<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Move_Smart</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
  </head>

  <body>
    <header>
      <div class="header-left">
        <div class="logo">
          <p><span>Move_</span>Smart</p>
        </div>
        <nav>
          <ul>
            <li>
              <a href="../templates/index.html" class="active">Accueil</a>
            </li>
            <li>
              <a href="{{url_for('user_router.accueil')}}">À propos</a>
            </li>
            <li>
              <a href="../templates/contact.html">Contactez-nous</a>
            </li>
          </ul>
          <div class="login-signup">
            <a href="../templates/connexion.html">Connexion</a> ou <a href="../templates/inscription.html">Inscription</a>
          </div>
        </nav>
      </div>
      <div class="header-right">
        <div class="login-signup">
          <a href="{{url_for('inscription')}}">Connexion</a> ou <a href="../templates/inscription.html">Inscription</a>
        </div>
        <div class="hamburger">
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </header>

    <!-- Contenu de la page -->
    <section>
      <div class="container">
        <div class="content1">
          <p id="typing-text"></p>
          <br />
        </div>
      </div>
      <p class="slogan">Nous sommes avec vous dans vos voyages</p>
      <div class="contentbtn"><button class="btn">Signaler</button></div>
    </section>
    <footer>
      <h3>
        Copyright © 2010-2023 <span> Move_</span>Smart. Tous les droits sont
        réservés.
      </h3>
    </footer>

    <script>
      hamburger = document.querySelector(".hamburger");
      nav = document.querySelector("nav");
      hamburger.onclick = function () {
        nav.classList.toggle("active");
      };
    </script>

    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>
