<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/inscription.css" />
    <title>Move_Smart</title>
  </head>
  <body>
    <div class="containerss">
      <form class="form">
        <a href="../templates/index.html"><p class="retour">Retour</p></a>
        <p class="title">Inscription</p>
        <p class="message">
          Inscrivez-vous maintenant et obtenez un accès complet à notre
          application.
        </p>
        <div class="flex">
          <label>
            <input required="" placeholder="" type="text" class="input" />
            <span>Prénom</span>
          </label>

          <label>
            <input required="" placeholder="" type="text" class="input" />
            <span>Nom</span>
          </label>
        </div>

        <label>
          <input required="" placeholder="" type="email" class="input" />
          <span>Email</span>
        </label>

        <label>
          <input required="" placeholder="" type="password" class="input" />
          <span> Mot de passe</span>
        </label>
        <label>
          <input required="" placeholder="" type="password" class="input" />
          <span>Confirmer le mot de passe</span>
        </label>
        <button class="submit">S'inscrire</button>
        <p class="signin">
          Vous avez déjà un compte ?<a href="../templates/connexion.html">Se connecter</a>
        </p>
      </form>
    </div>
  </body>
</html>
